#div-1 {
    background-color: red;
    height:50px;
}
#span-1{
  background-color: cyan;
  display:blcok;
  height:50px;
  width:50%;
}
#span-2{
    background-color: purple;
}
#div-2 {
    background-color:green;
    display:inline;
}