table{
    width:30%;
    border:3px solid turquoise;
    empty-cells:show;
}
tr.fruits{
    background-color:violet;
    color:pink;
}
tr.things{
    background-color:plum;
    color:blue;
}
tr.even{
    background-color:crimson;
    color:white;
}

td{
    font: size 35px;
    text-align:center;
    border:1px solid black;
}